function handlePlayCount(playCount) {
  playCount = playCount.toString();
  if (playCount.length >= 5 && playCount.length <= 8) {
    playCount = playCount.substring(0, playCount.length - 4) + '万';
  } else if (playCount.length >= 9) {
    playCount = playCount.substring(0, playCount.length - 8) + '亿';
  };
  return playCount
}

function handleDurationms(durationms) {
  var minutes = Math.floor(durationms / 1000 / 60);
  var seconds = Math.floor(durationms / 1000 % 60);
  return minutes + ':' + seconds
}

module.exports = {
  handlePlayCount: handlePlayCount,
  handleDurationms: handleDurationms
}